/* FONTS */
@import "./base/style";

/* --VARIABLES-- */
@import "./utils/variables";


/* HEADER PAGE PRINCIPALE */

.header {
    padding: 15px 0 8px 0px;
    box-shadow: 0 0 16px 0 #0000002e;
    text-align: center;
    &__image {
      justify-content: center;
    }
  }

.locsearch{
    display: flex;
    justify-content: center;
    background-color:#e2e2e2;
    box-shadow: inset 0px 5px 5px 0px #ddd8d8;
    &__icon{
      font-size: larger;
      margin: 10px 10px 10px 0px;
    }
      &__content{
        font-size: medium;
        margin: 10px 10px 10px 0px;
      }

} 
.description{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f3f3;
  
  &__text{
    font-weight: 600;
    width: 65%;
    margin-top:0.5em;
    margin-bottom: 0.5em; 
    text-align: center;
  }
  &__sub{
    font-weight:100;
    font-size: 20px;
    text-align: center;
    margin: 0;
    width: 83%;
  }
  /* BOUTONS */
  @import "./components/composants";
}
  
  /*Style des boutons */
  .list_fonctionnement{
    display:flex ; 
    flex-direction:column;
    padding : 0 12px ;
  }

  .section__title{
    padding: 28px 0px 6px  26px;
    font-weight: 800;
    font-size: 22px;
  }

 .btn_choix {  
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  box-shadow: 0px 4px 4px 0px #ddd8d8;
  list-style: none;
  border: none;
  border-radius: 15px;
  font-size: 1em;
  height: 70px;
  margin: 1.2em 2em 0 2em;
}

  .btn_numero{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
    margin-right: 1em;
    color: #fff;
    background-color: $primary;
    border: none;
    border-radius: 100%;
    width: 1.5em;
    height: 1.5em;
    margin-left: -15px;
  }

  .icon {
    font-size: 1em;
    color: #6b6b6b;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.btn_text{
   font-weight: 600;
   padding: 25px;
  }

.icon:hover{
  cursor: pointer;
      transform: scale(1.1);
      color: $primary;
}
// Section restaurants //


.restaurant{
  background-color: #f3f3f3;
  width: 100%;
  padding-top: 5%;
}

.restaurant--card{
 width: 85%;
 margin: 20px;
 background-color: white;
 border-radius: 20px;
}

.restaurant--image img{
 border-radius: 20px 20px 0px 0px;
 -o-object-fit: cover;
   object-fit: cover;
  height: 70%;
  width: 100%;

}
.restaurant--content{
padding: 5px;
margin: 1px;
display: flex;
flex-direction: column;

}
.restaurant--title {
  margin-bottom: 0%;
  margin-top: 2%;
  margin-left: 2%;
  font-size: 1.3em;
}



.restaurant--loc {
  margin-left: 2%;
  margin-top: 1%;
  font-size: 1.1em;
}


.restaurant--link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.new{
  margin-block: -210px;
  display: inline-block;
   position: absolute;
  left: 65%;
  border: 5px solid $tertiary;
  border-radius: 2px;
  background-color: $tertiary;
  font-family: "Roboto", sans-serif;
  font-size: small;
  font-weight: 500;
  color: #2c9c81;
  padding: 0.2% 2%;
  font-size: 1em;
}
.fa-heart{
  display: inline-block;
  position: absolute;
  left: 76%;
  font-size: x-large;

    &:hover::after{
  cursor: pointer;
  font-family: FontAwesome;
  content: "\f004";
  position:absolute;
  left: 0px;
  top: 0px;
  width: 0%; 
  font-size: x-large;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-animation: fill 1s ease-in-out forwards;
          animation: fill 1s ease-in-out forwards;
  font-size: x-large;      
  }
}


@-webkit-keyframes fill {
  0% {
    width: 0%;
  }
  50% {
    width: 50%;
  }
  75%{
    width: 75%;
  }
   100% {
    width: 100%;
  }
}


  




/*  Section Restaurants */


/* responsive section restaurant */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurant {
    height: 1500px;
    background-color: white;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .restaurant {
    padding-top: 0%;
  }
}

@media screen and (min-width: 1280px) {
  .restaurant {
    margin-bottom: 5%;
  }
}

/* responsive du titre */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurant--title {
    font-size: 2.5em;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .restaurant--title {
    text-align: center;
    margin-left: 0%;
    margin-bottom: 0%;
    font-size: 2.5em;
  }
}

@media screen and (min-width: 1280px) {
  .restaurant--title {
    text-align: center;
    margin-left: 0%;
    margin-bottom: 0%;
    font-size: 2em;
  }
}
/* fin responsive titre 

.list--restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%; */


@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .list--restaurant {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1280px) {
  .list--restaurant {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}



/* Section restaurant 

*/

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurant {
    width: 80%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .restaurant {
    width: 45%;
    margin-bottom: 0%;
    margin-right: 2%;
    margin-left: 2%;
    height: 25%;
  }
}

@media screen and (min-width: 1280px) {
  .restaurant {
    width: 45%;
    margin-bottom: 0%;
    margin-right: 2%;
    margin-left: 2%;
    height: 35%;
  }
}

.restaurant:hover {
  -webkit-box-shadow: 0px 4px 4px 1px #c7c7c7;
          box-shadow: 0px 4px 4px 1px #c7c7c7;
}




@media screen and (min-width: 1280px) {
  .restaurant--image {
    height: 79%;
  }
}

