/* FONTS */
@import "./base/style";

/* --VARIABLES-- */
@import "./utils/variables";


/* HEADER PAGE PRINCIPALE */

.header {
    padding: 15px 0 8px 0px;
    box-shadow: 0 0 16px 0 #0000002e;
    text-align: center;
    &__image {
      justify-content: center;
    }
  }

.locsearch{
    display: flex;
    justify-content: center;
    background-color:#e2e2e2;
    box-shadow: inset 0px 5px 5px 0px #ddd8d8;
    &__icon{
      font-size: larger;
      margin: 10px 10px 10px 0px;
    }
      &__content{
        font-size: medium;
        margin: 10px 10px 10px 0px;
      }

} 
.description{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f3f3;
  
  &__text{
    font-weight: 600;
    width: 65%;
    margin-top:0.5em;
    margin-bottom: 0.5em; 
    text-align: center;
  }
  &__sub{
    font-weight:100;
    font-size: 20px;
    text-align: center;
    margin: 0;
    width: 83%;
  }
  /* BOUTONS */
  @import "./components/composants";
}
  
  /*Style des boutons */
  .list_fonctionnement{
    display:flex ; 
    flex-direction:column;
    padding : 0 12px ;
  }

  .section__title{
    padding: 28px 0px 6px  26px;
    font-weight: 800;
    font-size: 22px;
  }

 .btn_choix {  
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  box-shadow: 0px 4px 4px 0px #ddd8d8;
  list-style: none;
  border: none;
  border-radius: 15px;
  font-size: 1em;
  height: 70px;
  margin: 1.2em 2em 0 2em;
}

  .btn_numero{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
    margin-right: 1em;
    color: #fff;
    background-color: $primary;
    border: none;
    border-radius: 100%;
    width: 1.5em;
    height: 1.5em;
    margin-left: -15px;
  }

  .icon {
    font-size: 1em;
    color: #6b6b6b;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.btn_text{
   font-weight: 600;
   padding: 25px;
  }

.icon:hover{
  cursor: pointer;
      transform: scale(1.1);
      color: $primary;
}
// Section restaurants //

.restaurant{
  background-color:#f3f3f3;
}
.restaurant--card{
 width: 85%;
 margin: 20px;
 background-color: white;
 border-radius: 20px;


.restaurant--image img{
  width: 100%;
  height: 130px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;

}
.restaurant--content{
padding: 5px;
margin: 1px;
display: flex;
flex-direction: column;
}
.restaurant--title{
 margin: 0;
 padding: 2px;
}
.restaurant--loc{
  margin: 0;
  padding: 4px;
}
.new{
  position: absolute;
  bottom: 64px;
  left: 290px;
  border: 3px solid $tertiary;
  background-color: $tertiary;
}
.icon{
  position: absolute;
  left: 300px;
  font-size: 40px;
  line-height: 1;
  font-weight: lighter;
  color: black;
  &--:hover{
    color: $primary;
    cursor: pointer;
    transform: scale(1.02);
  }
}



  
}


