/* SPE GENERALES */
*{
    box-sizing: border-box;
}
@font-face{
    font-family:"Roboto";
    font-family: "Shrikhand";
}
:root{
    --vert: #99E2D0 ;
    --violet: #9356DC;
    --rose: #FF79DA;
}

body{
    margin: 0 auto;
    font-family: "Roboto";
}

a{
    list-style-type: none;
    text-decoration: none;
    color: black;
}

/* HEADER */
.header{
    display: flex;
    justify-content: center;
}
.header__image{
    width: 100%;
    padding: 10px;
}

/* LOCALISATION */

.locsearch{
    display: flex;
    justify-content: center;
    background-color:darkgray;
    padding: 20px;   
}
.locsearch__icon{
    padding-right:10px;

}
.locsearch__content{
    padding-right: 15px;
}
.locsearch .fas{
    font-size: large;
}


/* DESCRIPTION */

.description{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    padding: 10px;
}
.description__text{
    font-weight: 500;
    font-size: xx-large;
    text-align: center;
    
    
}
.description__sub{
    text-align: center;
    font-weight: 200;
    font-size: larger;
}

