/* SPE GENERALES */
*{
    box-sizing: border-box;
}
@font-face{
    font-family:"Roboto";
    font-family: "Shrikhand";
}

body{
    margin: 0 auto;
    font-family: "Roboto";
}

a{
    list-style-type: none;
    text-decoration: none;
}

/* HEADER */
.header{
    display: flex;
    justify-content: center;
}
.header__image{
    width: 100%;
    padding: 10px;
}
.locsearch{
    display: flex;
    justify-content: center;
}

/* DESCRIPTION */

.description{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    padding: 10px;
}
.description__text{
    font-size: larger;
    
    
}
.description__sub{
    text-align: center;
}

