/* FONTS */

@font-face {
    font-family: "Roboto";
    src: url("Polices/Roboto");
}

@font-face {
    font-family: "Shrikhand";
    src: url("Polices/Shrikhand");
}

/* SPE GENERALES */

body{
    box-sizing: border-box;
    padding: 0;
    font-family: "Roboto";
}

a{
    list-style-type: none;
    text-decoration: none;
    color: black;
}