/* PAGE DE RESTO-CARD */

.box{
    padding-bottom: 25px;
  }
  
  .resto_page{
    margin: 0;
    padding: 0;
  .resto_header{
    display: flex;
    align-items: center;
    flex-direction: initial;
  } 
  .resto_icon{
    font-size: 23px;
    color: black;
    padding: 10px;
  }
}
  .resto_header img{
    width: 180px;
    padding-left: 30px;
  } 

  
  .resto_subheader img{
    width:100%;
    padding-left: 0;
    padding-top: 10px;
    height: 30vh;
    object-fit: cover;
  }
  
  .resto_card{
    position: absolute;
    top: 255px;
    width: 100%;
    background-color:#f3f3f3;
    border-radius: 30px 30px 0px 0px;
    
  }
  
  .resto_head{
    display: flex;
    flex-direction: initial;
    align-items: center;
    padding-left: 45px;
  }
  .resto_name{
    font-family:'Shrikhand';
    font-size: x-large;
    margin: 16px 0px 13px 0px;
  
  }
  .resto_heart{
    position:relative;
    top: 47px;
    left: 19px;
  }
  
  
  .resto { 
    background-color: whitesmoke;
    position: relative;
    border-radius: 23px;
    bottom: 49px;
  
    &__menu {
      &__title {
        margin: 24px 0px 8px 18px;
        border-bottom: 3px solid #99e2d0;
        padding-bottom: 6px;
        width: 11%;
      }
    }
  }
  .resto__element {
    border-radius: 10px;
    background-color: white;
    width:94%;
    display: block;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 12px;
    box-shadow: 0 5px 16px #0000002e;
    position: relative;
    animation-duration: 1s;
    animation-name: appear;
    transform: scale(0);
    animation-fill-mode: both;
    height: 70px;
    cursor: pointer;
  }
  .resto__check { 
    width: 30px;
    background-color:$tertiary;
    display:flex;
    align-items:center;
    justify-content:center;
    transform: rotate(180deg);
    transition-duration: 0.5s;
    overflow: hidden;
  
   &:hover{
    width: 30px;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
     transform: rotate(0);
  }
}

  .resto__icon{
    color: $tertiary;
    transform: 0.5s ease-in-out;
    background-color:white;
    border-radius: 100px;
  }

  .resto__contents {
    display: flex;
    &:hover .resto__check {
      width: 15px;
      border-radius: 0px 10px 10px 0px;
      cursor: pointer;
       transform: rotate(0);
    }
    
    &__title {
      font-weight: 800;
      margin: 0;
      
    }
    &__left {
      width: 100%;
      padding: 0.7em;
      position: relative;
      box-sizing: border-box;
    }
    
    &__right{
      background-color:$tertiary;
      display:flex;
      align-items:center;
      justify-content:center;
      transition-duration: 0.5s;
      width: 0px;
      height: 70px;
    }
    
    &:hover .resto__contents__right {
      cursor: pointer;
      width: 60px;
      height: 70px;
      border-radius: 0px 10px 10px 0px;
      
    }
    &__inline {
      display: flex;
      padding-top: 0px;
      font-size: small;
  
      &__subtitle {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        
      }
      &__price {
        position: absolute;
        right: 4%;
      }
    }
  }

  /* RESPONSIVE PAGE RESTO-CARD */

@media (min-width: 768px) {
    .resto{
      margin: 10px 10px 10px 10px;
      .resto_head{
        justify-content: center;
        margin-right: 8%;
      }
      .resto__menu{
        
        .resto__title{
          margin-left: auto;
          margin-right: auto;
        }
      }
      .resto__element{
        margin-right: 60px;
      }
    
    }
    .box{
      display: flex;
      justify-content: space-around;
      flex-direction: column;
    }
  
    .resto_subheader img{
      height: 225px;
    }
    .resto_header img{
      margin-left: 40%;
      padding: 0;
    }
  .resto__btn{
      margin: 0% 0% 3% 40%;
    }  
  
  .resto__contents__inline{
    font-size: small;
    overflow: hidden;
    width: 80%;
  }

  }